/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Foto de perfil */
.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    box-shadow: 0 0 15px #00000033;
}

/* Estilo para los sub-bloques dentro de cada bloque */
.bloque-Datos {
    background-color: #e0e0e0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.bloque {
    background-color: #e0e0e0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.tabla{
    width: 100%; 
    border-spacing: 20px;
}
.tablaInterna{
    width: 100%;
}

.tablaInterna tr td ul{
    padding: 10px;
}

ul {
    list-style-type: none; /* Elimina viñetas */
    padding: 0;
    margin: 0;
    font-weight: normal; /* Contenido en estilo normal */
}

td{
    background-color: #f0f0f0; 
    padding: 20px; width: 30%; 
    vertical-align: top;
    max-width: 30%;
}

p{
    padding-left: 40px;
}